bin/
dist/
submit/
doc/javadoc/
src/compiler488/parser/Lexer.java
src/compiler488/parser/Parser.java
src/compiler488/parser/sym.java
tests/passing/basic.488
.idea/
.idea/workspace.xml
out/

*.iml

tmp-test-output/
tmp-test-output.txt
